{% extends 'layout_sheetmarker.html' %}

{% block macros1 %}
<!-- CONTENIDO A -->
<div class="card h-100 text-center p-3">
    <div class="card-body">
        <h5 class="card-title">Macros al dia</h5>
        <p class="card-text">Exporta datos en Macros para mantener la calidad y profesionalismo.</p>
        <button class="btn btn-primary">Ver más</button>
    </div>
</div>
{% endblock %}

{% block macros2 %}
<!-- CONTENIDO E -->
<div class="container mt-5">
  <div class="alert alert-secondary text-center py-4" style="background-color: #007bff; color: white;">
    <h4 class="fw-bold mb-0">¡Oferta con un 30% de descuento por Cyber Wow!</h4>
    <p class="mt-2">Aprovecha las ofertas exclusivas en nuestros servicios durante el evento de Cyber Wow.</p>
  </div>
</div>

{% endblock %}